*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headingStyle{
  background:blue;
  text-align:center;
  font-size:1.8rem;
  color:rgb(255, 255, 255);
  padding:1rem;
}
.card{
  background-color:black !important;
  margin:1rem 3rem;
  padding:1rem;
  text-align:center;
}
.cardBody{
  color:#fff;
  text-align:center;
  font-size: 1.6rem;
}
.cardTitle{
  text-align:center;
  color:rgb(7, 23, 255);
  font-weight: 600;
  font-size:2.5rem;
}
.nin{
  color:red;
  margin:3rem;
  font-size:2.2rem;
}
button{
  padding:.5rem 1rem;
  border:none;
  border-radius: .8rem !important;
  margin:.5rem !important;
  color:#fff;
  background-color: limegreen;
  font-size:1.3rem !important;
  font-weight: 600;
  text-transform: uppercase;
}
.formFild{
  color:green;
  margin:.2rem 1rem;
  font-size:1.7rem;
}
input{
  font-size: small !important;
  margin: .5rem !important;
}
.badge{
  font-size: 1.2rem !important;
  padding: .8rem 2rem !important;
}
.moshCart{
  text-align: center;
  background-color:rgb(51, 99, 153);
}